.restaurant-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-evenly;
  padding: 0px;
}

.restaurants-container {
  font-family: 'Pathway Gothic One', sans-serif;
}

.city-name {
  font-family: 'Molengo', sans-serif;
  color: #A53B4F;
  font-size: 2.9rem;
}